 <%= partial "shared/head" %>

    <body>
       <%= partial "shared/header-no-links" %>
			   <%= partial "shared/sub-nav-none" %>

        	<%= yield %>
 
        <%= partial "shared/footer-no-breadcrumb" %>

        <%= partial "shared/scripts" %>
    </body>

</html>