 <%= partial "shared/head" %>

    <body>
       <%= partial "shared/header-nav" %>
		
        	<%= yield %>
 
        <%= partial "shared/footer" %>

        <%= partial "shared/scripts" %>
    </body>

</html>