 <%= partial "shared/head" %>

    <body>
       <%= partial "shared/header-nav" %>
	   <%= partial "shared/sub-nav-valeting" %>

        	<%= yield %>
 
        <%= partial "shared/footer" %>

        <%= partial "shared/scripts" %>
    </body>

</html>