 <%= partial "shared/head" %>

    <body>
       <%= partial "shared/header-nav" %>

        	<%= yield %>
 
        <%= partial "shared/footer-home" %>

        <%= partial "shared/scripts" %>
    </body>

</html>